---
import Layout from "../layouts/Layout.astro";
import { styles } from "@styles/pages/index.css";
import { Image } from "@astrojs/image/components";
---

<Layout title="Welcome to Astro.">
  <main class={styles.Main}>
    <section class={styles.MainSection}>
      <h2>串とんと日本酒の店、ひょうたん</h2>
      <Image
        src="/images/location.jpg"
        alt="ひょうたん外観"
        format="webp"
        quality={70}
        width={992}
        height={484}
      />
      <p>
        男が地蔵峠を通ると、お地蔵様の頭の上に雪が積もっていたので雪を払ってあげた。大晦日の夕方、町についた男はそこでかせ玉を売るが、一向に売れない。と、そこに笠売りのおじいさんがやってきた。笠売りのおじいさんもまったく笠が売れないので、二人はそれぞれの売り物を交換することにして家路についた。
      </p>
    </section>
    <section class={styles.MainSection}>
      <h2>串とんと日本酒の店、ひょうたん</h2>
      <Image
        src="/images/location.jpg"
        alt="ひょうたん外観"
        format="webp"
        quality={70}
        width={992}
        height={484}
      />
      <p>
        男が地蔵峠を通ると、お地蔵様の頭の上に雪が積もっていたので雪を払ってあげた。大晦日の夕方、町についた男はそこでかせ玉を売るが、一向に売れない。と、そこに笠売りのおじいさんがやってきた。笠売りのおじいさんもまったく笠が売れないので、二人はそれぞれの売り物を交換することにして家路についた。
      </p>
    </section>
    <section class={styles.MainSection}>
      <h2>串とんと日本酒の店、ひょうたん</h2>
      <Image
        src="/images/location.jpg"
        alt="ひょうたん外観"
        format="webp"
        quality={70}
        width={992}
        height={484}
      />
      <p>
        男が地蔵峠を通ると、お地蔵様の頭の上に雪が積もっていたので雪を払ってあげた。大晦日の夕方、町についた男はそこでかせ玉を売るが、一向に売れない。と、そこに笠売りのおじいさんがやってきた。笠売りのおじいさんもまったく笠が売れないので、二人はそれぞれの売り物を交換することにして家路についた。
      </p>
    </section>
  </main>
</Layout>
